<% include ../partials/header %>
<nav class="navbar navbar-default navbar-fixed-top navbar transparent">
      <a class="navbar-brand" href="/playlists">Playlisted</a>

<form class="navbar-form navbar-right" role="search" action="/searchresults">
        <div class="form-group">
          <input type="search" name="query"    placeholder="Search iTunes">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form></nav>
<table class=" table table-striped">
  <form action="/playlists/<%= playlist.id%>/songs" method="POST">
  <tr>
  <td class="heading">Art:<input type"text" name="song[art]" id="art"></td>
  <td class="heading">Title:<input type="text" name="song[title]" id="title"></td>
  <td class="heading">Artist:<input type"text" name="song[artist]" id="artist"></td>
  <td class="heading">Album:<input type"text" name="song[album]" id="album"></td>
  <td class="heading">Year:<input type"text" name="song[year]" id="year"></td>
  <td class="heading">Genre:<input type"text" name="song[genre]" id="genre"></td>
  </tr>
  </table>
  <center><td class="heading"><button name="button" class="btn btn-default" type="submit">Add Song to Playlist</button></td></center>
  </form>


<% include ../partials/footer %>